<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="css/forget-pw.css">
</head>
<body>
  <div class="forgot-password-container">
    <form class="forgot-password-form" action="/forgot-password" method="POST">
      <h1 class="heading">Forgot Password</h1>
      <p class="paragraph">Enter your username and email to reset your password</p>
      <div class="input-group">
        <input
          required
          placeholder="Username"
          name="username"
          id="username"
          type="text"
        />
      </div>
      <div class="input-group">
        <input
          required
          placeholder="Email"
          name="email"
          id="email"
          type="email"
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
