<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="login-container">
    <form class="login-form" action="/login" method="POST">
      <p class="heading">Login</p>
      <p class="paragraph">Login to your account</p>
      <div class="input-group">
        <input
          required=""
          placeholder="Username"
          name="username"
          id="username"
          type="text"
        />
      </div>
      <div class="input-group">
        <input
          required=""
          placeholder="Password"
          name="password"
          id="password"
          type="password"
        />
      </div>
      <button type="submit">Login</button>
      <div class="bottom-text">
        <p>Don't have an account? <a href="/register">Sign Up</a></p>
        <p><a href="#">Forgot password?</a></p>
      </div>
    </form>
  </div>
</body>
</html>

