<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <!-- Favicon -->
  <link rel="icon" href="/images/reset.svg" type="image/x-icon">
    
  <!-- Additional Meta Tags -->
  <meta name="description" content="Login to your account to access the dashboard.">
  <meta name="keywords" content="login, user login, sign in, dashboard">
  <meta name="author" content="NeptunE">
  <!-- Additional Meta Tags for Minnu -->
  <meta name="author" content="Minnu">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@minnukota381">
  <meta property="og:title" content="Login">
  <meta property="og:description" content="Login to your account to access the dashboard.">
  <meta property="og:image" content="/images/user.svg">
  <link rel="stylesheet" href="/css/reset-pw.css">
</head>
<body>
  <div class="reset-password-container">
    <form class="reset-password-form" action="/reset-password" method="POST">
      <h1 class="heading">Reset Password</h1>
      <p class="paragraph">Enter your new password</p>
      <div class="input-group">
        <input
          required
          placeholder="New Password"
          name="newPassword"
          id="newPassword"
          type="password"
        />
      </div>
      <div class="input-group">
        <input
          required
          placeholder="Confirm New Password"
          name="confirmNewPassword"
          id="confirmNewPassword"
          type="password"
        />
      </div>
      <input type="hidden" name="username" value="<%= username %>">
      <button type="submit">Reset Password</button>
    </form>
  </div>
</body>
</html>
